body { background-color: rgb(214, 47, 178);
}
#logo {margin-left: 20px;   border: 3px solid black;}
h1 { text-align: center; color: #440a2f; 
    border: 8px solid black;
    padding: 5px;
     margin: 3px;
}
p {text-align: justify ; color:black}