body { background-color: rgb(214, 47, 178);
}
header{
    background-color: whitesmoke;
}
#logo {margin-left:auto;
 margin-right: auto;
 width: 30%;}
.texto-principal { 
background-color: rgba(43, 20, 255, 0.233);
}
nav {position: absolute;
    top: 0px;
    right: 10px;

}
nav li{
    display: inline;
    margin: 0 0 0 15px;
}
nav a{ text-transform: uppercase;
 text-decoration: none;
font-weight: bold;
}
h1 { text-align: center; 
    color: #440a2f; 
    border: 8px solid black;
    padding: 5px;
     margin: 3px;
}
.itens {color: azure;}
p {text-align: justify ; color:black}

.foto { width: 30%; }
.produtos li {display: inline-block;padding: 70px;}